<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <title>编辑书</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1 class="text-center">编辑书</h1>
            </div>

            <form class="form-horizontal" action="/edit_book/?id={{ book_obj.id }}" method="post">
                <div class="form-group">

                    <div class="col-sm-1">
                        <label for="book_name" class="control-label">书名称：</label>
                    </div>

                    <div class="col-sm-4">
                        <input type="text" name="name" id="book_name" class="form-control" placeholder="书名称"
                               value="{{ book_obj.title }}">
                    </div>

                    {# 选择出版社 #}
                    <div class="col-sm-1">
                        <label for="book_name" class="control-label">出版社：</label>
                    </div>

                    <div class="col-sm-4">
                        <select name="press_id" class="form-control">
                            {% for press in press_data %}
                                {% if book_obj.press == press %}
                                    <option selected value="{{ press.id }}">{{ press.name }}</option>
                                {% else %}
                                    <option value="{{ press.id }}">{{ press.name }}</option>
                                {% endif %}
                            {% endfor %}

                        </select>
                    </div>

                    <div class="col-sm-2">
                        <input type="submit" class="btn btn-default">
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>