<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <title>编辑作者</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1 class="text-center">编辑作者</h1>
            </div>

            <form class="form-horizontal" action="/edit_author/?id={{ author_obj.id }}" method="post">
                <div class="form-group">

                    <div class="col-sm-2">
                        <label for="author_name" class="control-label">作者名称：</label>
                    </div>

                    <div class="col-sm-4">
                        <input type="text" name="author_name" id="author_name" class="form-control" placeholder="作者名称"
                               value="{{ author_obj.name }}">
                    </div>

                    {# 更改书籍 #}
                    <div class="col-sm-1">
                        <label class="control-label">书：</label>
                    </div>

                    <div class="col-sm-3">

                        {% for book in book_list %}
                            {% if book in author_obj.books.all %}
                                <div class="checkbox">
                                    <input type="checkbox" name="book_ids" value="{{ book.id }}" checked>
                                    {{ book.title }}
                                </div>
                            {% else %}
                                <div class="checkbox">
                                    <input type="checkbox" name="book_ids" value="{{ book.id }}">
                                    {{ book.title }}
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>

                    <div class="col-sm-2">
                        <input type="submit" class="btn btn-default">
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>